@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{ font-family:"Poppins", "sans-serif" }
@keyframes carousel{
    0%, 25%{
        right:0%;
    }
    50%, 75%{
        right:-100%
    }
    100%{
        right:-200%;
    }
}
.carousel{
    animation-name:carousel;
    animation-duration:10s;
    animation-iteration-count:infinite;
}
.table-kategori th, td {
    border:solid 1px;
    border-collapse:collapse;
}